* {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width : 1200px) {
    .container { width: 1330px; } 

}

@font-face {
    font-family: 'proximanova_light';
    src: url('../fonts/proximanova_light.otf')
    format("truetype"), local('proximanova_light');
}

@font-face {
    font-family: 'proximanova_reg';
    src: url('../fonts/proximanova_reg.otf')
    format("truetype"), local('proximanova_reg');
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500,500i,600,600i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:400,500,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase:400,500,600,700&subset=cyrillic');


/*
example
font-family:'Open Sans' , sans-serif/serif/cursive;
font-weight : 100;
text-shadow: 4px 4px 4px #aaa;
font-size: 48px;
*/




/* colors */
/* background-color: rgb(57, 56, 55); main grey */
/* background-color: rgb(38,37,37); dark grey */
/* color: rgb(224,178,139); beige */

/* fonts */
/* Playfair Display SC */
/* proximanova-regular */
/* Cormorant Garamond bold/italic */



/* carousel */

.carousel {
  /* any dimensions are fine, it can be responsive with max-width */
  width: 100%;
  height: 750px;
  position: absolute;
  left: 0;
  margin-bottom: 200px;
}

.carousel-inner {
  /* make sure your .items will get correct height */
  height: 100%;
}

.item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%; // Add this
}

.carousel-caption {
    padding-bottom: 80px;
    text-align: left;
}

@media screen and (max-width: 992px) {
    .carousel-control {
        display: none;
    }
}


.no-padding {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}


/* header */
header {
    width: 100%;
    height: 180px;
    background-color: rgb(57, 56, 55);
}

.header-menu-bottom {
    margin-top: 130px;
    background-color: rgb(38,37,37);
    width: 100%;
    position: absolute;
    right: 0;
}


ul li {
    transition: all 0.5s ease;
}

nav {
  text-align: center;
  /*padding: 10px 0;*/
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  display: block;
}

nav.main_menu {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.header-menu > li {
  display: inline-block;
  position: relative;
}

.header-menu > li > a {
    text-decoration: none;
    position: relative;
    padding: 5px 25px;
}

.header-menu {
    padding-top: 0px;
    margin-bottom: 0px;
}

li.menu-item {
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    height: 50px;
}

@media (max-width : 767px) { 
    li.menu-item {
        width: 50%;
        height: auto;
    }
}

.header-menu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}

.menu-item:hover {
    background-color: rgb(57, 56, 55);
}

.item_text {
    color: rgb(224,178,139);
    opacity: .8;
    font-family:'proximanova_reg';
    font-size: 16px; 
}

.drop_down_list .item_text_inner: {
    opacity: 1;
}

.drop_down_list .item_text:hover {
    color: white;
}

.drop_down_list {
    position: absolute;
    z-index: 4;
    left: 50%;
    margin-top: 8px;
    background: black;
    visibility: hidden;
    transform: translate(-50%, 10px);
    transition: all 0.3s ease-in-out 0s;
    opacity: 0.1;
}

.header-menu > li:hover .drop_down_list {
    visibility: visible;
    transform: translate(-50%, 0);
    opacity: 0.85;
}

.drop_down_list a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 10px;
    transition: all 0.1s linear;
    text-decoration: none;
    text-align: left;
}

.drop_down_list li {
    transition: all 0.1s linear;
    width: 160px;
}

.text-after-carousel {
    margin-top: 800px;
    padding-top: 50px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif; 
    font-style: italic;
}

.hr-quote {
    width: 150px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: black;
}


/* underlined animation 

.drop_down_list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.drop_down_list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

*/

@media only screen and (min-width: 1000px) {
    .header-inner {
        float: none;
        position: relative;
        display: block;
        left: 0;
        width: 100%;
    }
}

.header-widget {
    position: absolute;
    float: left;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    margin-top: 50px;
}

.header-widget a, .header-widget div {
    text-decoration: none;
    padding-right: 0px;
    display: inline-block;
    color: rgb(224,178,139);  /* main beige color */
    opacity: .8;
}

.header-widget a span, .header-widget div span {
    display: block;
    opacity: 0;
    font-family:'proximanova_reg';
    margin-top: 5px;
}

.header-widget a:hover, .header-widget a span:hover, .header-widget div:hover, .header-widget div span:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
}

/*
.header-widget a span {
    display: none;
}

.header-widget a span:hover {
    display: block;
    visibility: visible;
}
*/
.header-left-from-logo-widget {
    z-index: 1;
    left: 120px;
}

.header-left-from-logo-widget, .header-right-from-logo-widget {
    display: block;
    height: 100%;
    position: absolute;
}

@media (max-width: 767px) {
    .header-left-from-logo-widget, .header-right-from-logo-widget { 
        display: none;
    } 
}


.header-right-from-logo-widget {
    z-index: 1;
    right: 0px;
}

.icon-link {
    text-align: center;
}

.logo-wrapper {
    width: 300px;
    position: absolute;

}

.logo-header-img {
    height: 120px;
    width: auto;
    position: absolute;
    margin-left: 570px;
    margin-top: 10px;
}

footer.footer-part {
    padding-top: 40px;
}

.main-footer {
    padding-bottom: 20px;
}

.one-quater {
    display: inline-block;
    width: 24%;
    position: relative;
}

.one-quater ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.one-quater ul a {
    text-decoration: none;
    color: rgb(57, 56, 55);
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    opacity: .5;
}

.one-quater ul a:hover {
    opacity: 1;
}

.one-quater h3 {
    margin-bottom: 30px;
    color: rgb(38,37,37);
    font-family:'Playfair Display SC', serif;
    font-weight: 700;
}

hr.hr-style {
    background-color: rgb(38,37,37);
    opacity: .5;
    height: 1px;
    margin: 0;
}

.copyright-text {
    text-align: center;
    color: rgb(38,37,37);
    font-family:'proximanova_reg';
    opacity: .5;

}

.social-links a {
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #999999;
    width: 45px;
    height: 45px;
    text-align: center;
    color: rgb(38,37,37) !important;
    float: left;
    padding-top: 8px;
    margin-left: 10px;
    opacity: .7;
}

.social-links a:hover {
    opacity: 1;
}

#oq {
    position: absolute;
}

.inner-margin-section {
    margin-top: 100px;
    margin-left: 80px;
    display: inline-block;
    position: relative;
}

.column-first-sqr {
   padding-top: 60px;
   float: left;
   width: 50%;
}

#img_wed {
    height: 700px;
}

#img_prom {
    height: 400px;
}

#img_acs {
    height: 400px;
}

.bright-filter {
    filter: brightness(80%);
    transition: all 0.3s ease-in-out 0s;
}

.bright-filter:hover {
    filter: brightness(100%);
} 

.column-second-sqr {
    float: right;
    width: 50%;
}

.column-second-hf-sqr-1 {
    margin-bottom: 30px;
}

.front-holder {
    position: absolute;
    text-align: center;
    color: white;
}

#fh1 {
    top: 320px;
    left: 80px; 
}

#fh2 {
    top: 150px;
    right: 100px;
}

#fh3 {
    top: 570px;
    right: 100px;
}

.about-content {
    height: 700px;
    margin-top: 50px;
    background-color: rgb(57, 56, 55);
}

.about-content-header {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-top: 50px;
}

.about-content-header h2 {
    color: rgb(224,178,139);
    font-family:'Playfair Display SC', serif; 
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow:  0px 0px 20px rgb(38,37,37);
}

.separator-content {
    line-height: 0.5;
    text-align: center;
}

.separator-content span {
    display: inline-block;
    position: relative;  
    color: white;
    font-family:'Cormorant Garamond', serif; 
    font-size: 24px;
    font-style: italic;
}

.separator-content span:before,
.separator-content span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    top: 0;
    width: 200px;
}

.separator-content span:before {
    right: 100%;
    margin-right: 15px;
}

.separator-content span:after {
    left: 100%;
    margin-left: 15px;
}

.about-content-body {
    display: inline-block;
}

.inner-image img {
    height: 400px;
}

.content-photo {
    position: relative;
    width: 50%;
    float: left;
    margin-top: 50px;
    margin-left: 80px;
    display: inline-block;
}

.content-text {
    position: absolute;
    width: 500px;
    margin-top: 100px;
    right: 150px;
}

.content-text h2 {
    font-family:'Cormorant Garamond', serif; 
    font-style: italic;
    color: white;
}

.content-text p {
    color: rgb(224,178,139);
    font-family:'Cormorant Garamond', serif; 
    font-size: 18px; 
}

/* MAIN BUTTON */
.main-button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    color: rgb(224,178,139);
    background-color: rgb(38,37,37);
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.75);
}

.main-button:hover {
    background-color: rgb(224,178,139);
    color: rgb(38,37,37);
    border: 0;
    text-decoration: none;
}


.quote {
    height: 530px;
    background-color: black;
}

.quote img {
    height: 530px;
    background-size: cover;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: .5;
}

.quote .overlay-text {
    position: absolute;
    left: 400px;
    margin-top: 120px;
    width: 600px;
}

.quote-content {
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    color: white;
    font-style: italic;
    text-align: center;
    padding: 0 10px;
}


.arrivals {
    height: 800px;
    width: 100%;
}

.title-arrivals {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-top: 50px;
    margin-bottom: 50px;
    color: rgb(38,37,37);
}

.title-arrivals h2 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 36px;
}

.title-arrivals h3 {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}

.arrivals img {
    height: 500px;
    
}

.arrivals .img-caption {
    position: absolute; 
    color: black;
    text-align: center;
    margin-left: 120px;
}

.arr-img:hover {
    filter: brightness(50%);
    transition: all 0.3s ease-in-out 0s;
}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}


.designers {
    height: 340px;
    background-color: rgb(57, 56, 55);
}

.designers img {
    opacity: .7;
    width: 100%;
    background-size: cover;
    height: 340px;
    position: absolute;
    left: 0;
    right: 0;
}

.banner-overlay-text {
    position: absolute;
    text-align: center;
    margin-left: 500px;
    margin-top: 50px;
}

.banner-overlay-text h2 {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    text-shadow:  0px 0px 20px rgb(38,37,37);
}

#design-button {
    width: 300px;
    padding-bottom: 40px;
}

.love-story {
    height: 800px;
}

.one-half-first {
    width: 50%;
    float: left;
    position: relative;
    left: 130px;
    top: 50px;
}

.one-half-first h3 {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    color: rgb(38,37,37);
}

.one-half-first p {
    width: 400px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    line-height: 2;
    text-align: justify;
}

.one-half-second {
    width: 50%;
    float: right;
    position: relative;
    right: 50px;
    top: 50px;
}

.one-half-second img {
    height: 500px;
}

.instagram-banner {
    height: 500px;
    margin-top: 30px;
}

.banner-title {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
}

.banner-title h1 {
    font-family: 'Playfair Display SC', serif;
    color: rgb(38,37,37);
    font-weight: 700;
}

.banner-title h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
}

hr.insta-hr {
    width: 240px;
    background-color: rgb(38,37,37);
    height: 1px;
    position: relative;
    left: 530px;   
}

.instagram-banner {
    height: 500px;
}

/* instagram example */
.instagram-banner-row {
    position: absolute;
    left: 430px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.instagram-banner-row ul {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.instagram-banner-row ul li {
    float: left;
    margin-left: 15px;
    margin-right: 15px; 
}

.instagram-banner-row img {
    height: 160px;
    vertical-align: top;
    width: 160px;
}

.info-block {
    margin-top: 150px;
    height: 300px;
    background-color: rgb(57, 56, 55);
}

.info-block p {
    text-align: center;
    color: rgb(224,178,139); 
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    line-height: 2;
    padding-top: 30px;
    padding-bottom: 10px;

}

#info-button {
    width: 300px;
    position: absolute;
    left: 570px;
    margin: 0; 
}

/* scroll to the top */
.scrolltop {
    display:none;
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
    right:10px; 
}
.scroll {
    position:absolute;
    right:20px;
    bottom:20px;
    background:#b2b2b2;
    background:rgba(178,178,178,0.7);
    padding:15px;
    text-align: center;
    margin: 0 0 0 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;        
}
.scroll:hover {
    background:rgba(178,178,178,1.0);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;        
}
.scroll:hover .fa {
    padding-top:-10px;
}
.scroll .fa {
    font-size:30px;
    margin-top:-5px;
    margin-left:1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;    
}




/* ABOUT US */
.aboutpage-header h1 {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding-top: 70px;
    margin-bottom: 50px;
    color: rgb(38,37,37);
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 36px;
}

hr.hr-aboutpage {
    width: 340px;
    background-color: rgb(38,37,37);
    height: 1px;
    position: relative;
    left: 480px; 
}

.about-section {
    height: 700px;
}

.about-photo {
    width: 50%;
    float: left;
    position: relative;
    left: 100px;
    top: 50px;
}

.about-photo img {
    height: 650px;
}

.about-story {
    width: 50%;
    float: right;
    position: relative;
    right: 50px;
    top: 50px;
}

.about-story h3 {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    color: rgb(38,37,37);
}

.about-story p {
    width: 500px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    line-height: 2;
}

.why-choose-section {
    margin-top: 80px;
    color: rgb(38,37,37);
}

.why-choose-section h2 {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

.why-choose-section h3 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.about-info-block {
    margin-top: 70px;
    height: 550px;
}

.about-info-block .one-third {
    width: 30%;
    display: inline-block;
    position: relative;
    padding-left: 130px;
}

.about-info-block .about-info {
    line-height: 2;s
}

.about-info-block .about-header {
    text-align: center;
}

.about-info p {
    text-align: justify;
    margin-top: 20px;
}


.browse-button {
    margin-top: 80px; 
    margin-left: 470px;
}

.appoint-banner {
    height: 400px;
    margin-top: 100px;
}


.appoint-banner img {
    width: 100%;
    background-size: cover;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
}

.banner-text {
    position: absolute;
    text-align: center;
    margin-top: 90px;
}

.banner-text h2 {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    text-shadow:  0px 0px 20px rgb(38,37,37);
    margin-left: 460px;
}

.banner-text a {
    margin-left: 530px;
}





/* DESIGNERS */
.designers-quote {
    margin-top: 50px;
    margin-left: 415px;
    width: 500px;
}

.designers-quote p {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 24px;
}

.brands-block p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    width: 400px;
}

.lucesposa-block {
    margin-top: 100px;
    height: 200px;
}

.lucesposa-block p {
    position: relative;
    float: right;
    right: 200px;
    margin-top: 30px;
}

#logo1 {
    position: absolute;
    float: left;
    height: 150px; 
    left: 300px;
}

.vasylk-block {
    height: 200px;
}

.vasylk-block p {
    position: relative;
    float: left;
    left: 250px;
    margin-top: 30px;
}

#logo2 {
    position: absolute;
    float: right;
    right: 360px;
    height: 200px; 
}

.marybride-block {
    height: 400px;
}

.marybride-block p {
    position: relative;
    float: right;
    right: 200px;
    margin-top: 120px;
}

#logo3 {
    position: absolute;
    float: left;
    left: 310px;
    height: 350px; 
}



/* CONTACTS */
.contacts-content {
    height: 400px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.contacts-content img {
    height: 400px;
    left: 700px;
    position: absolute;
}

.contacts-info {
    position: relative;
    margin-left: 200px;
}

.contacts-info h2 {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

.contacts-info p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 21px;
}

.map-header h2 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.send-mail {
    height: 600px;
    margin-bottom: 50px;
}

.form-header h3 {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
    color: rgb(38,37,37);
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 36px;
}

.form-body ul {
    list-style: none;
    margin-left: 470px;
}

.input-field {
    border-color: rgb(57, 56, 55);
    border-width: thin;
    border-radius: 3px;
    display: block;
    padding: 10px;
    width: 350px;
    margin-bottom: 15px;
    font-family: 'Playfair Display SC', serif;
}

.form-label {
    font-family: 'Cormorant Garamond', serif;
    font-size: 21px;
    font-weight: 700;
}

.form-field textarea {
    width: 350px;
    height: 100px;
}



/* BOOKING */
.sep-wrap {
    line-height: 0.5;
    text-align: center;
}

.sep-wrap span {
    display: inline-block;
    position: relative;  
    color: black;
    font-family:'Cormorant Garamond', serif; 
    font-size: 24px;
    font-style: italic;
}

.sep-wrap span:before,
.sep-wrap span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid black;
    top: 0;
    width: 200px;
}

.sep-wrap span:before {
    right: 100%;
    margin-right: 15px;
}

.sep-wrap span:after {
    left: 100%;
    margin-left: 15px;
}

#book-form-header h3 {
    margin-top: 100px;
    padding-top: 50px;
    color: rgb(224,178,139);
    font-family:'Cormorant Garamond', serif; 
    font-size: 40px;
}

.form-wrapper {
    background-color: rgb(38,37,37);;
    width: 700px;
    padding-bottom: 80px;
    margin-left: 300px;
    margin-bottom: 150px;
}

.book-label {
    color: white;
    font-weight: 400;
}

.book-button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    background-color: rgb(224,178,139);
    color: rgb(38,37,37);
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.75);
    border: none;
}

.book-button:hover {
    background-color: white;
}



/* PRODUCT LIST */
.title-outer {
    padding-top: 30px;
    height: 170px;
    width: 100%; 
    margin-bottom: 30px;
}

.title-outer h2 {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 32px;
    color: rgb(38,37,37);
}

.subtitle {
    position: absolute;
    left: 655px;
}

.subtitle a {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.subtitle a, .subtitle span {
    font-family: 'Cormorant Garamond', serif;
    color: rgb(38,37,37);
    font-size: 18px;
}

.catalog-list {
    margin-top: 170px;
}

.column1 {
    float: left;
    width: 20%;
    padding-top: 20px;
    position: relative;
    margin-left: 30px;
}

.filter-option h4 {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    /*
    background-color: rgb(57, 56, 55);
    color: rgb(224,178,139);
    font-family: 'proximanova-regular';
    */
    font-family: 'Playfair Display SC', serif;
    color: rgb(57, 56, 55);
    font-weight: 700;
    font-size: 20px;
}

.filter-option a {
    text-decoration: none;
    opacity: .8;
    color: rgb(57, 56, 55);
}

.filter-option a:hover {
    opacity: 1;
}

.filter-option hr {
    margin-top: 10px;
    background-color: rgb(38,37,37);
    height: 1px;
    opacity: .2;
}

.checkbox-filter {
    font-family: 'proximanova_light';
    font-size: 16px;
    font-weight: lighter;
}

.filter-button {
    width: 250px;
    height: 40px;
    font-size: 16px;
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    color: rgb(38,37,37);
    opacity: .5;
    border: 1px solid rgb(109,109,109);
    background-color: white;
    margin-top: 30px;

}

.filter-button:hover {
    opacity: 1;
}


.column2 {
    float: right;
    position: relative;
    margin-right: 0px;
    width: 75%;
}

.dress-title {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
}

.term-description p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    width: 800px;
    margin-top: 30px;
    margin-bottom: 50px;
}


.column2 ul {
    list-style: none;
}

.product-section {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    height: 470px;
}

.image-wrapper {
    background-color: black;
}

.product-section img {
    width: 300px;
    transition: .5s ease; 
}

.product-section:hover img {
    opacity: .4;
}

.product-info-box {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    left: 150px;
    bottom: 150px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.product-section:hover .product-info-box {
    opacity: 1;
}

.product-title a {
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: 24px;
    font-weight: 700;

}

.view-dress-button {
    margin-top: 170px;
}

.view-dress-button a {
    color: white;
    text-decoration: none;
    padding: 10px 70px;
    border: 1px solid white; 
    opacity: .5;
    /* background-color: rgb(38,37,37); */
    box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.75);
    font-family: 'proximanova_reg';
}

.view-dress-button a:hover {
    color: rgb(224,178,139);
    opacity: 1;
}

.product-title {
    color: white;
}

.pagination {
    display: inline-block;
    position: absolute;
    right: 450px;
    margin-top: 500px;
}

.pagination.custom > li > a, 
.pagination.custom > li > span {
    background: none;
    border: none;
    color: #a8a9ab;
    font-size: 16px;
    font-family: 'proximanova_reg';
}

.pagination.custom > li > a:hover, 
.pagination.custom > li > a:focus, 
.pagination.custom > li > span:hover,
.pagination.custom > li > span:focus,
.pagination.custom > li.active > a,
.pagination.custom > li.active > span {
    background: none;
    border: none;
    color: #000;
    font-size: 16px;
    font-family: 'proximanova_reg';
}


/* PRODUCT DETAIL */
.title-outer {
    height: 50px;
}

.product-scope {
    margin-top: 100px;
}


/* product gallery */

.product-image-wrapper {
    width: 50%;
    position: relative;
    float: left;
    left: 100px;
}

.product-image-wrapper ul {
    list-style: none;
}

.thumbnails {
  display: flex;
  flex-direction: row;
  line-height: 0;
  float: left;
}

.thumbnails li {
  flex: auto;
}

.thumbnails a {
  display: block;
}

.thumbnails img {
  width: 178px;
  height: 20vmin;
  margin-right: 9px;
  object-fit: cover;
  object-position: top;
}

.slides {
  overflow: hidden;
  width: 75vmin;
  height: 100vmin;
}

.slides li {
  width: 75vmin;
  height: 100vmin;
  position: absolute;
  z-index: 1;
}

.slides img {
  height: 100vmin;
  object-fit: cover;
  object-position: top;
}


.slides li:target {
  z-index: 3;
  -webkit-animation: slide 3s;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

/*
@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
*/

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.product-summary {
    width: 50%;
    float: right;
    position: relative;
    left: 100px;
    margin-top: 100px;
}

.product-summary h2
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 30px;
    color: rgb(38,37,37);
}

.product-description {
    width: 400px;
    text-align: justify;
    margin-top: 40px;

}

.product-description p, .details-list p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: rgb(38,37,37);
}

.details {
    margin-top: 70px;
}

.details h3 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    color: rgb(38,37,37);
}


hr.product-hr {
    width: 400px;
    background-color: rgb(38,37,37);
    height: 1px;
    opacity: .5;
}

.like-button {
    background-color: white;
    border: none;
    color: rgb(38,37,37);;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Cormorant Garamond', serif;
    padding-left: 10px;
}





/* LIKED PAGE */
.like_products ul {
    list-style: none;
}

.like-button-section {
    margin-top: 30px;
    opacity: .7;
}

.like-button-section:hover {
    opacity: 1;
}

.dislike-button {
    bottom: 170px;
    position: relative;
}

.dislike-button a {
    color: white;
    font-family:'proximanova-regular'; 
    text-decoration: none;
    opacity: .4;
    background: none; 
}

button.like-button {
    background:none!important;
    color: white;
    border:none; 
    padding:0!important;
    font-family:'proximanova-regular';
    cursor: pointer;
    text-decoration: none;
    bottom: 170px;
    position: relative;
    opacity: .4;
    font-size: 14px;
}

.dislike-button a:hover, button.like-button:hover {
    opacity: 1;
    color: rgb(224,178,139);
}



/* SEARCH */
.search-block {
    display: none;
    position: absolute;
    float: right;
    right: 50px;
    top: 90px;
}

#search input[type="text"] {
    background: url(search-dark.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: rgb(224,178,139);;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
}






