{% extends 'base.html' %}
{% load static %}
{% block title %}
    About us
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="title-area">
            <div class="container">
                <div class="title-holder">
                    <h1>About us</h1>
                </div>
                <span class="subtitle-sep">
                    <span class="sep-line-before"></span>
                    <span class="sep-content"></span>
                    <span class="sep-line-after"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="about-section">
        <div class="container">
            <div class="about-photo">
                <img src="" alt="" class="about-photo-bg">
            </div>
            <div class="about-story">
                <p class="about-story-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis recusandae quae ducimus corrupti in ea sed voluptate, quas, at id omnis aliquam esse odio, alias laudantium fugiat illum, quidem modi.
                </p>
            </div>
        </div>
    </div>

    <div class="why-choose-section">
        <div class="about-title">
            <h2>Why choose</h2>
            <h3>Adeline</h3>
        </div>
        <div class="flex">
            <div class="one-third">
                <div class="about-info">
                    <h4 class="about-header">Experience</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, dolorum neque quam voluptatibus ratione. Blanditiis culpa, impedit. Eos veritatis natus in, quaerat, omnis iure suscipit placeat libero autem quasi modi!</p>
                </div>
                <img src="" alt="">
            </div>
            <div class="one-third">
                <div class="about-info">
                    <h4 class="about-header">World Class Designers</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, dolorum neque quam voluptatibus ratione. Blanditiis culpa, impedit. Eos veritatis natus in, quaerat, omnis iure suscipit placeat libero autem quasi modi!</p>
                </div>
                <img src="" alt="">
            </div>
            <div class="one-third">
                <div class="about-info">
                    <h4 class="about-header">Prices</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, dolorum neque quam voluptatibus ratione. Blanditiis culpa, impedit. Eos veritatis natus in, quaerat, omnis iure suscipit placeat libero autem quasi modi!</p>
                </div>
                <img src="" alt="">
            </div>
        </div>
    </div>

    <div class="browse-button">
        <a href="" class="main-button">Browse collection</a>
    </div>

    <div class="partners">
        <div class="container">
            <div class="flickity flickity-enabled flickity-viewport flickity-slider is-draggable">
                <a href="http://google.com" class="partner-slide" id="ps-1"></a>
                <a href="http://google.com" class="partner-slide" id="ps-2"></a>
                <a href="http://google.com" class="partner-slide" id="ps-3"></a>
                <a href="http://google.com" class="partner-slide" id="ps-4"></a>
                <a href="http://google.com" class="partner-slide" id="ps-5"></a>
            </div>
        </div>
    </div>

    <div class="appoint-banner">
        <div class="container">
            <div class="background-image"></div>
            <div class="banner-text">
                <h2>Book an appointment</h2>
                <a href="" class="main-button">book</a>
            </div>
        </div>
    </div>
{% endblock %}