{% extends 'base.html' %}
{% load static %}
{% block title %}
    Book an Appointment
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="title-area">
            <div class="container">
                <div class="title-holder">
                    <h1>Book an appointment</h1>
                </div>
                <span class="subtitle-sep">
                    <span class="sep-line-before"></span>
                    <span class="sep-content">Meet your dream dress</span>
                    <span class="sep-line-after"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="book-form">
        <div class="container">
            <div class="form-wrapper">
                <!-- ADD ACTION -->
                <form action="" method="post">
                    <div class="form-header" id="book-form-header">
                        <h3>Let's make our first date!</h3>
                    </div>
                    <div class="form-body" id="book-form-body">
                        <ul class="form-fields">
                            <li class="form-field" id="bf_1">
                                <label for="" class="form-label">Name<span class="field_required"></span></label>
                                <div class="input-container">
                                    <input type="text" class="input-field" placeholder="Name" aria-required="true" aria-invalid="false">
                                </div>
                            </li>
                            <li class="form-field" id="bf_2">
                                <label for="" class="form-label">Phone<span class="field_required"></span></label>
                                <div class="input-container">
                                    <input type="text" class="input-field" placeholder="Phone" aria-required="true" aria-invalid="false">
                                </div>
                            </li>
                            <li class="form-field" id="bf_3">
                                <label for="" class="form-label">Email<span class="field_required"></span></label>
                                <div class="input-container">
                                    <input type="text" class="input-field" placeholder="Email" aria-required="true" aria-invalid="false">
                                </div>
                            </li>
                            <li class="form-field" id="bf_4">
                                <span class="bf-label">Choose date of fitting</span>
                                <div class="input-container">
                                    <input type="date" name="date_bf" aria-required="true" aria-invalid="false">
                                </div>
                            </li>
                            <li class="form-field" id="bf_5">
                                <span class="bf-label">Date of Wedding</span>
                                <div class="input-container">
                                    <input type="date" name="date_bf" aria-required="true" aria-invalid="false">
                                </div>
                            </li>
                            <li class="form-field" id="bf_6">
                                <label for="" class="form-label">Message<span class="field_required"></span></label>
                                <div class="input-container">
                                    <textarea name="input_4" id="input_4" cols="50" rows="10" class="textarea-field" aria-required="true" aria-invalid="false"></textarea>
                                </div>
                            </li>
                        </ul>
                        <div class="form-footer" id="bf-button">
                            <input type="submit" id="form-submit-button" class="main-button" value="Submit" onclick="" onkeypress="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
