{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="title-outer">
        <div class="title-subtitle-holder">
            <div class="container">
                <div class="inner-text">
                    <a href="adeline.com">Home</a>
                    <span class="delimeter">&nbsp;/&nbsp;</span>
                    <span class="current">{{ product.name }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="template-holder">
            <div itemscope class="product-scope">
                <div class="single-product-image-wrapper">
                    <!--
                    <div class="image-wrap">
                        <a href="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" itemprop="image" class="main-image" title="{{ product.name }}">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="{{ product.name }}">
                            
                            <div class="mouse-zoom" style="display: none; z-index: 98; position: absolte; width: 113px; height: 160px; opacity: 0.5; left: 250px; top: 208px; background-position: -250px -280px;"></div>
                        </a>
                        <p>
                            <a href="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="zoom-button">Click to Zoom</a>
                        </p>
                        
                        <div class="thumbnails">
                            <a href="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="zoom-gallery"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="" class="shop-thumbnail"></a>
                        </div>
                    </div>
                    -->
                    {% for ig in images %}
                        {% if ig.image %}
                            <a href="{{ ig.image.url }}"><img src="{{ ig.image.url }}" alt=""></a>
                        {% else %}
                            <p>Image upload error</p>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="product-summary">
                    <h2 itemprop="name" class="product-title">{{ product.name }}</h2>
                    <div id="before-descr" class="sep-line">
                        <span class="single-product-title-separator"></span>
                    </div>
                    <div itemprop="description" class="product-description">
                        <p>{{ product.description | linebreaks }}</p>
                    </div>
                    <div id="after-descr" class="sep-line">
                        <span class="single-product-title-separator"></span>
                    </div>

                    <div class="details">
                        <h3 class="product-header">Details</h3>
                        <!-- collapse menu -->
                        <i class="fa-plus fa-minus" aria-hidden="true"></i>
                        <div class="details-list" style="display: none/block;">
                            <p class="detail-item">Shape: {{ product.shape }}</p>
                            <p class="detail-item">Style: {{ product.style }}</p>
                            <p class="detail-item">Fastener: {{ product.fastener_type }}</p>
                            <p class="detail-item">Fabric: {{ product.fabric }}</p>
                        </div>
                    </div>

                    <div class="button">
                        <a href="" class="main-button">Book an appointment</a>
                    </div>
                </div>
            </div>

            <div class="related-items">
                <h2 class="product-header">You may also like</h2>
                <ul class="products-slider">
                    {% for prt in related_products %}
                        <li class="p-slide">
                            <a href="{% if prt.image %}{{ prt.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}">
                                <img src="{% if prt.image %}{{ prt.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" alt="">
                                <span class="hover">
                                    <h3>{{ prt.name }}</h3>
                                    <p>View</p>
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}