{% extends 'base.html' %}
{% load static %}
{% block title %}
    About us
{% endblock %}

{% block content %}
    <div class="aboutpage-header">
        <div class="title-area">
            <div class="container">
                <h1>Про нас</h1>
                <hr class="hr-aboutpage" >
            </div>
        </div>
    </div>

    <div class="about-section">
        <div class="container">
            <div class="about-photo">
                <img src="{% static "img/aboutus.jpg" %}" alt="" class="about-photo-bg">
            </div>
            <div class="about-story">
                <h3>Наша історія</h3>
                <p class="about-story-text">
                    Дім весільної та вечірньої моди «Аделіні» відчинив свої двері 12 серпня 2018 року.<br>Для наших наречених ми відбираємо лише найкращі сукні із останніх колекцій.<br>Ми знаємо, що кожна дівчина прекрасна і лише допоможемо підкреслити Вашу красу, створити неповторний стиль та перетворити найщасливішу мить Вашого життя у казку.
                </p>
            </div>
        </div>
    </div>

    <div class="why-choose-section">
        <div class="about-title">
            <h2>Чому ми обираємо</h2>
            <hr class="hr-aboutpage" style="width: 420px; left: 435px;">
            <h3>Аделіні</h3>
        </div>
        <div class="about-info-block">
            <div class="one-third">
                <div class="about-info">
                    <h4 class="about-header" style="font-family: 'Playfair Display SC', serif; font-weight: 700; font-size: 21px; padding-bottom: 30px;">Дизайнери</h4>
                    <p style="font-family: 'Cormorant Garamond', serif; font-size: 18px;">В асортименті салону представлені популярні брендові весільні сукні. Висока якість пошиття та оригінальний дизайн задовольнить смаки навіть найвибагливіших дівчат.</p>
                </div>
                <img src="{% static "img/about1.jpg" %}" alt="" style="height: 380px;">
            </div>
            <div class="one-third">
                <div class="about-info">
                    <h4 class="about-header" style="font-family: 'Playfair Display SC', serif; font-weight: 700; font-size: 21px; padding-bottom: 30px;">Ціни</h4>
                    <p style="font-family: 'Cormorant Garamond', serif; font-size: 18px;">У салоні постійно діють знижки, акції та сезонні пропозиції. Ми піклуємося про те, щоб у будь-якої нареченої була можливість виглядати якнайкраще на власному святі.</p>
                </div>
                <img src="{% static "img/about2.jpg" %}" alt="" style="height: 380px;">
            </div>
            <div class="one-third">
                <div class="about-info">
                    <h4 class="about-header" style="font-family: 'Playfair Display SC', serif; font-weight: 700; font-size: 21px;">Індивідуальний підхід</h4>
                    <p style="font-family: 'Cormorant Garamond', serif; font-size: 18px;">Професійні консультанти-стилісти допоможуть обрати сукню, яка підкреслить Вашу неповторність. Також можливо замовити персональний пошив сукні Вашої мрії.</p>
                </div>
                <img src="{% static "img/about3.jpg" %}" alt="" style="height: 380px;">
            </div>
        </div>
    </div>

    <div class="browse-button">
        <a href="{% url 'catalog:product_list_cat' 'wedding_dress' %}" class="main-button" style="width: 250px; margin-left: 55px;">Колекція</a>
    </div>

    
    <div class="appoint-banner">
        <div class="container">
            <img src="{% static "img/browse-img.jpg" %}" alt="">
            <div class="banner-text">
                <h2>Запишися на примірку</h2>
                <a href="{% url 'catalog:booking' %}" class="main-button">Запис</a>
            </div>
        </div>
    </div>

{% endblock %}