{% extends 'base.html' %}
{% load static %}
{% block title %}
    Designers
{% endblock %}

{% block content %}
    <div class="aboutpage-header">
        <div class="title-area">
            <div class="container">
                <h1>Дизайнери</h1>
                <hr class="hr-aboutpage" >
            </div>
        </div>
    </div>

    <div class="designers-quote"  style="margin-top: 0;">
        <p>Сукня ніколи не просто сукня, сукня завжди про бажання</p>
    </div>
        
    <div class="brands-block">

        <div class="lucesposa-block">
            <img src="{% static "img/luce_sposa_logo.png" %}" alt="" id="logo1">
            <p>«LuceSposa» - команда талановитих та креативних професіоналів з великим досвідом роботи та клієнтами у всьому світі. Продукція компанії «LuceSposa» завжди відповідає останнім трендами весільної та вечірньої моди, дизайнери знають чого хочуть клієнти та створюють унікальні та вишукані сукні різних стилістичних напрямів.</p>
        </div>

        <div class="vasylk-block">
            <img src="{% static "img/logo_vasylk.jpg" %}" alt="" id="logo2">
            <p>Vasylkov – український виробник весільних суконь для поціновувачів високої моди. Сукні для урочистих подій створюються з урахуванням сучасних європейських модних тенденцій. Весільні сукні Vasylkov – це розкіш, жіночність та неповторність. Бренд Vasylkov fashion group  – це завжди новизна, неординарність та  актуальність колекцій.</p>
        </div>

        <div class="marybride-block">
            <img src="{% static "img/Mary-bride_logo.jpg" %}" alt="" id="logo3">
            <p>"MaryBride" – визнаний експерт у сфері весільної моди. Кожна колекція "MaryBride" fashion group  -  це ексклюзивний дизайн, трендові моделі та висока якість. Дизайнери компанії наполегливо працюють над кожним образом нареченої. Вони вражають сміливими, актуальними та креативними ідеями, а особлива увага приділяється якості та дизайну моделей.</p>
        </div>
    </div>
{% endblock %}