{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load endless %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Catalog page
    {% endif %}
{% endblock %}

{% block content %}
    <div class="title-outer">
        <div class="container">
            <div class="title-subtitle-holder">
                <h2 class="title-category">{{ category.name }}</h2>
                <hr class="hr-aboutpage" style="background-color: rgb(38,37,37);">
                <div class="subtitle">
                    <a href="{% url 'catalog:index' %}">Home</a>
                    <span class="delimeter">&nbsp;/&nbsp;</span>
                    <span class="current">{{ category.name }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="catalog-list">
        <div class="container">
            <div class="column1">
                <aside class="filter-sidebar">
                    <!--
                    <div class="product-search">
                        <form action="adeline.com" method="get" id="search-form">
                            <div>
                                <label for="s" class="search-form-text">Search for:</label>
                                <input type="text" value="" id="s" placeholder="Enter dress">
                                <input type="submit" id="search-submit"> 
                            </div>
                        </form>
                    </div>
                    -->
                    
                    <!--
                    <form method="get" action="">
                        <div class="form-group">
                        {{ filter.form.name.label_tag }}
                        {% render_field filter.form.name class="form-control" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </form>
                    -->
                    

                    <!--
                    <div class="widget-filter-1">
                        <form method="get">
                            {{ filter.form.as_p }}
                            <input type="submit"></input>
                        </form>
                    </div>
                    -->


                    <form method="get">
                    <div class="filter-option">
                        {% if not collection %}
                            <h4>Колекції</h4>
                            <hr>
                            {% for choice in filter.form.collection %}
                            <a href=""><label class="container checkbox-filter">
                            {{ choice.tag }} {{ choice.choice_label }}
                            </label></a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="filter-option">
                        <h4>Силует</h4>
                        <hr>
                        {% for choice in filter.form.shape %}
                            <a href=""><label class="container checkbox-filter">
                            {{ choice.tag }} {{ choice.choice_label }}
                            </label></a>
                        {% endfor %}
                    </div>
                    <div class="filter-option">
                        <h4>Стиль</h4>
                        <hr>
                        {% for choice in filter.form.style %}
                            <a href=""><label class="container checkbox-filter">
                            {{ choice.tag }} {{ choice.choice_label }}
                            </label></a>
                        {% endfor %}
                    </div>
                    <div class="filter-option">
                        <h4>Тканини</h4>
                        <hr>
                        {% for choice in filter.form.fabric %}
                            <a href=""><label class="container checkbox-filter">
                            {{ choice.tag }} {{ choice.choice_label }}
                            </label></a>
                        {% endfor %}
                    </div>
                    <button type="submit" class="filter-button">
                        Пошук
                    </button>
                    </form>
                    
                </aside>
            </div>

            <div class="column2">
                {% if collection %}
                    <h3 class="dress-title">Колекція {{ collection.name }} від {{ collection.brand }}</h3>
                {% elif category.slug == 'wedding_dress' %}
                    <div class="term-description">
                        <h3 class="dress-title">Знайди свою ідеальну весільну сукню</h3>
                        <p>Розкішні сукні вражають вишуканістю, граціозністю, витонченістю.<br>Свіжі рішення, бездоганні силуети, витончені деталі підкорюють серця наречених.</p>
                    </div>
                {% else %}
                    <div class="term-description">
                        <h3 class="dress-title">Знайди свою ідеальну вечірню сукню</h3>
                        <p>Розкішні сукні вражають вишуканістю, граціозністю, витонченістю.<br>Свіжі рішення, бездоганні силуети, витончені деталі підкорюють серця наречених..</p>
                    </div>
                {% endif %}
                
                <ul class="products hover-type">
                    {% for product in p_list %}
                        <li class="product-post">
                            <div class="product-section">
                                    <div class="image-wrapper">
                                        {% if product.thumbnail %}
                                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.thumbnail.url }}" alt=""></a>
                                        {% else %}
                                            <p>Image upload error</p>
                                        {% endif %}
                                    </div>
                                
                            
                                <div class="product-info-box">
                                    <span class="product-title">
                                    <a href="{{ product.get_absolute_url }}">
                                        {{ product.name }}
                                    </a></span>
                                    <div class="view-dress-button">
                                        <a href="{{ product.get_absolute_url }}" class="button view-dress-button">Перегляд</a>
                                    </div>

                                    <!-- wrap i, span inside input!  -->
                                    <form action="{% url 'like:like_add' product.id %}" method="post">
                                        
                                        {% csrf_token %}
                                        
                                            <button type="submit" class="like-button">
                                                <i class="fa-lg far fa-heart"></i>
                                                Like
                                            </button>
                                        
                                    </form>

                                </div>

                            </div>
                        </li>
                    {% endfor %}

                    {% if p_list.has_other_pages %}
                          <ul class="pagination custom">
                            {% if p_list.has_previous %}
                              <li><a href="?page={{ p_list.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in p_list.paginator.page_range %}
                              {% if p_list.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                {% if 'collection' in request.get_full_path %}
                                    <li><a href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                            {% if p_list.has_next %}
                              <li><a href="?page={{ p_list.next_page_number }}">&raquo;</a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
