{% extends "base.html" %}
{% block title %}
  Search
{% endblock %}


{% block content %}
    <div class="aboutpage-header">
        <div class="title-area">
            <div class="container">
                <h1>Пошук</h1>
                <hr class="hr-aboutpage" >
            </div>
        </div>
    </div>

    <div class="like_products" style="margin-top: 100px;">
        <div class="container">
                <ul class="products hover-type" style="list-style: none;">
                    {% for product in products %}
                        <li class="product-post">
                            <div class="product-section" style="height: 450px;">
                                    <div class="image-wrapper">
                                        {% if product.thumbnail %}
                                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.thumbnail.url }}" alt=""></a>
                                        {% else %}
                                            <p>Image upload error</p>
                                        {% endif %}
                                    </div>
                                
                            
                                <div class="product-info-box">
                                    <span class="product-title">
                                    <a href="{{ product.get_absolute_url }}">
                                        {{ product.name }}
                                    </a></span>
                                    <div class="view-dress-button">
                                        <a href="{{ product.get_absolute_url }}" class="button view-dress-button">Перегляд</a>
                                    </div>

                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
        </div>

        <a href="{% url 'catalog:product_list_cat' 'wedding_dress' %}" class="main-button" style="margin-left: 550px;">Каталог</a>
    </div>
{% endblock %}