{% load static %}
<!DOCTYPE html>
<html lang="uk-UA">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Welcome to Adeline</title>{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC:400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700,900&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,800&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500,500i,600,600i,700&amp;subset=cyrillic" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".cc-jq").animate({
                opacity: '1'
            }, "slow");
        });
    </script>
</head>

<body id="bootstrap-overrides">
    <script>
            $(window).scroll(function() {
        if ($(this).scrollTop() > 550 ) {
            $('.scrolltop:hidden').stop(true, true).fadeIn();
        } else {
            $('.scrolltop').stop(true, true).fadeOut();
        }
    });
    $(function(){$(".scroll").click(function(){$("html,body").animate({scrollTop:$(".thetop").offset().top},"1000");return false})});
    </script>

    <div class='thetop'></div>

    <header id="header">
        <div class="container no-padding">
            <div class="container-inner clearfix">
                <div class="header-inner">
                    <div class="header-widget widget-text header-left-from-logo-widget">
                        <a href="" class="icon-link">
                            <i class="fa fa-bars fa-lg"></i>
                            <span>Menu</span>
                        </a>
                        <a href="" class="icon-link">
                            <i class="fa fa-lg fa-heart"></i>
                            <span>Liked</span>
                        </a>
                    </div>

                    <div class="logo-wrapper">
                        <a href="{% url 'catalog:index' %}">
                            <img class="logo-header-img" src="{% static "img/new_logo.png" %}" alt="Adeline">
                        </a>
                    </div>

                    <div class="header-widget widget-text header-right-from-logo-widget">
                        <a href="" class="icon-link">
                            <i class="fa fa-lg fa-search"></i>
                            <span>Search</span>
                        </a>
                        <a href="" class="icon-link">
                            <i class="fa fa-lg fa-map-marker-alt"></i>
                            <span>Location</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="header-menu-bottom clearfix">
                <nav class="main_menu drop_down">
                    <ul class="header-menu clearfix" style="margin-bottom: 0px;">
                        <li class="menu-item" id="nav-menu-1">
                            <a href="{% url 'catalog:index' %}" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Весільні сукні</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-2">
                            <a href="{% url 'catalog:index' %}" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Вечірні сукні</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-3">
                            <a href="{% url 'catalog:index' %}" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Аксесуари</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-4">
                            <a href="{% url 'catalog:about_us' %}" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Про нас</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="{% url 'catalog:about_us' %}">
                                                <span class="item_inner">
                                                    <span class="item_text">Наша історія</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="{% url 'catalog:designers' %}">
                                                <span class="item_inner">
                                                    <span class="item_text">Дизайнери</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-5">
                            <a href="{% url 'catalog:index' %}" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Блог</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                        </li><li class="menu-item" id="nav-menu-6">
                            <a href="wedding_dresses" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Весільні сукні</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-7">
                            <a href="{% url 'catalog:index' %}" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Весільні сукні</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-8">
                            <a href="{% url 'catalog:index' %}" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Контакти</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class='scrolltop'>
        <div class='scroll icon'><i class="fa fa-angle-up"></i></div>
    </div>

    <section class="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>

    <!--
    <hr class="hr-style"> -->
    <footer class="footer-part">
        <div class="container-small">
            <div class="flex main-footer">
                <div class="one-quater">
                    <img src="{% static "img/logo_empty.png" %}" alt="Logo" style="width: 250px; margin-left: 20px; margin-bottom: 80px;">
                </div>
                <div class="one-quater">
                    <h3>Основні</h3>
                    <ul class="footer-list">
                        <li class="footer-menu-item"><a href="">FAQ's</a></li>
                        <li class="footer-menu-item"><a href="">Правила користування</a></li>
                    </ul>
                </div>
                <div class="one-quater">
                    <h3>Про нас</h3>
                    <ul class="footer-list">
                        <li class="footer-menu-item"><a href="">Про нас</a></li>
                        <li class="footer-menu-item"><a href="">Контакти</a></li>
                    </ul>
                </div>
                <div class="one-quater" id="oq">
                    <h3>Соціальні мережі</h3>
                    <ul class="footer-list social-links">
                        <li><a href="https://www.facebook.com/adelini.wedding"><i class="fab fa-lg fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/adelini.wedding.dress/"><i class="fab fa-lg fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright-text">
                <p>© 2018 All rights Reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>