{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Welcome to Adeline</title>{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
</head>

<body>
    <header id="header">
        <div class="container no-padding">
            <div class="container-inner clearfix">
                <div class="header-inner">
                    <div class="header-widget widget-text header-left-from-logo-widget">
                        <a href="" class="icon-link">
                            <i class="fa fa-bars fa-lg"></i>
                            <span>Menu</span>
                        </a>
                        <a href="" class="icon-link">
                            <i class="fa fa-lg fa-heart"></i>
                            <span>Liked</span>
                        </a>
                    </div>

                    <div class="logo-wrapper">
                        <a href="adeline.com">
                            <img class="logo-header-img" src="{% static "img/new_logo.png" %}" alt="Adeline">
                        </a>
                    </div>

                    <div class="header-widget widget-text header-right-from-logo-widget">
                        <a href="" class="icon-link">
                            <i class="fa fa-lg fa-search"></i>
                            <span>Search</span>
                        </a>
                        <a href="" class="icon-link">
                            <i class="fa fa-lg fa-map-marker-alt"></i>
                            <span>Location</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="header-menu-bottom clearfix">
                <nav class="main_menu drop_down">
                    <ul class="header-menu clearfix" style="margin-bottom: 0px;">
                        <li class="menu-item" id="nav-menu-1">
                            <a href="wedding_dresses" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Wedding Dresses</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-2">
                            <a href="wedding_dresses" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Wedding Dresses</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-3">
                            <a href="wedding_dresses" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Wedding Dresses</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-4">
                            <a href="wedding_dresses" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Wedding Dresses</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-5">
                            <a href="wedding_dresses" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Wedding Dresses</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-6">
                            <a href="wedding_dresses" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Wedding Dresses</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-7">
                            <a href="wedding_dresses" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Wedding Dresses</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li><li class="menu-item" id="nav-menu-8">
                            <a href="wedding_dresses" class="drop-button">
                                <span class="item_inner">
                                    <span class="item_text">Wedding Dresses</span>
                                </span>
                                <span class="animated_line"></span>
                            </a>
                            <div class="drop_down_list">
                                <div class="inner">
                                    <ul>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                        <li class="nav-menu-item">
                                            <a href="wed_collection#1">
                                                <span class="item_inner">
                                                    <span class="item_text">Collection</span>
                                                </span>
                                                <span class="animated_line"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <a href="#" class="on/off" id="back-to-top">
        <span class="icon-area">
            <span class="arrow-up"></span>
            <span class="overlay"></span>
        </span>
    </a>

    <section class="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>

    <footer class="footer-part">
        <div class="container-fluid">
            <div class="row justify-content-around main-footer">
                <div class="one-quater">
                    <img src="" alt="Logo">
                </div>
                <div class="one-quater">
                    <h3>General</h3>
                    <ul class="footer-one">
                        <li class="footer-menu-item"><a href="">FAQ's</a></li>
                        <li class="footer-menu-item"><a href="">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="one-quater">
                    <h3>About</h3>
                    <ul class="footer-two">
                        <li class="footer-menu-item"><a href="">About</a></li>
                        <li class="footer-menu-item"><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="one-quater">
                    <h3>Follow</h3>
                    <ul>
                        <li><a href=""><i class="fa-icon facebook-icon" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa-icon instagram-icon" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa-icon youtube-icon" aria-hidden="true"></i></a></li>
                        <li><a href=""><i class="fa-icon pinteres-icon" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-around copy-center">
                <p>© 2018 All rights Reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>